/* 
    Document   : style
    Created on : 28.11.2012, 21:08:44
    Author     : Max
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
header {
    padding: 20px;
}
content {
    margin-top: 50px;
}