<h1>No file specified!</h1>
<p>
    You did not choose, which file you want to download! Please browse through the <a href="list.php">filelist</a> to choose which file you want to load.
</p>
<a class="btn btn-primary btn-large" href="index.php">Back</a>  <a class="btn btn-large" href="index.php">Browse</a>